<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="/" class="navbar-brand">SAP EAM</a></div>
        <ul class="nav">
            <li  class="nav-item"><a class="nav-link" href="/vechileInfo" routerLinkActive = "is-enabled" >Vechile Information</a></li>
            <li  class="nav-item"><a href="/VechileVarinat" class="nav-link">Vechile Variant</a></li>
            <li  class="nav-item"><a href="/login" class="nav-link">Safety Certificate</a></li>
            <li  class="nav-item"><a href="/logout" class="nav-link" (click)="logout">Work Permit</a></li>
        </ul>
        <ul class="nav navbar-collapse justify-content-end">
            <li  class="nav-item"><a href="/logout" class="nav-item" (click)="logout">Sign Out</a></li>
        </ul>
    </nav>
</header>